# Environment file
.env
*.env

# Go binaries
/bin/
/obj/

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.out

# IDE/editor files
.vscode/
.idea/
*.swp

# Dependency directories
/vendor/

# Docker volumes
/volumes/

# GolangCI-Lint report
report.xml

# Helm
infra/helm/*/charts/*
infra/helm/*/Chart.lock

# Vault
scripts/vault/tls/*
scripts/vault/data/*
scripts/vault/vault.hcl
scripts/vault/init.json
scripts/vault/vault.log
